@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

// Colors
$cPrimary: #1b1b1b;
$cHeading: #1b1b1b;
$cText: #1b1b1b;
$cTextHover: #999999;
$cLightBlack: #1d1d1d;
$cDarkBlack: #0f0f0f;
$cButtonPrimary: #363636;
$cBorder: #e5e5e5;
$cWhite: #ffffff;
$cBlack: #000000;

$fw: "font-weight";
$ff: "font-family";
$fs: "font-size";
$c: "color";

// Brand color
$color-facebook: #3b5998;
$color-feedly: #2bb24c;
$color-github: #333;
$color-google: #dc4e41;
$color-instagram: #3f729b;
$color-linkedin: #0077b5;
$color-medium: #00ab6b;
$color-messenger: #0084ff;
$color-rss: #f26522;
$color-spotify: #2ebd59;
$color-twitter: #55acee;

// Font Size
$base-font-size: 16;

// Font Family
$font_Raleway: 'Raleway', sans-serif;
$font_OpenSans: 'Open Sans', sans-serif;